<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="coachingPageConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\CoachIn.mdf;Initial Catalog=CoachIn;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="customControls" tagName="Footer" src="~/Controls/footer.ascx"></add>
        <add tagPrefix="customControls" tagName="Header" src="~/Controls/header.ascx"></add>
        <add tagPrefix="customControls" tagName="headerStrip" src="~/Controls/headerStrip.ascx"></add>
      </controls>
    </pages>
  </system.web>

</configuration>

