@charset "utf-8";
/* CSS Document */

.Edit {
    color: blue;
    background-color: transparent;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'High Tower Text';
    font-size: large;
}

    .Edit:hover {
        border-style: solid;
        border-color: azure;
        opacity: 0.5;
    }

.EditTextBox {
    background-color:transparent;
    border:none;
    width:100%;
    height:300px;
    font-family:'Times New Roman';
}

.EditTextBoxWithBorder {
    background-color:transparent;
    width:100%;
    height:300px;
    font-family:'Times New Roman';
}

.EditSingleBox {
    background-color:transparent;
    font-family:'Times New Roman';
}

.EditBigBox {
    background-color:transparent;
    font-family:'Times New Roman';
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    text-shadow: 2px 2px 2px #CCCCCC;
    font-variant: small-caps;
    font-size:x-large;
}

.SimpleTextBox {
    width:100%;
    height:300px;
    font-family:'Times New Roman';
}

.EditFonts {
    background-color:transparent;
    font-family: 'High Tower Text';
    font-size: large;
    color:black;
}

.EditTextDisables {
    background-color:transparent;
    font-family: 'High Tower Text';
    font-size: large;
    color:black;
    border:none;
}