@charset "utf-8";
/* CSS Document */

<!--
body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-image: url(../img/background.jpg);
    margin: 0;
    padding: 0;
    color: #000;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}

h1 {
    font-variant: small-caps;
}

h2 {
    font-variant: small-caps;
}

h3 {
    font-variant: small-caps;
    text-shadow: 2px 2px 2px #CCCCCC;
}

h4 {
    font-variant: small-caps;
    text-shadow: 2px 2px 2px #CCCCCC;
    margin: 0 0 0 0;
}

h5 {
    font-variant: small-caps;
    text-shadow: 2px 2px 2px #CCCCCC;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

h1, h2, h6 {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    text-shadow: 2px 2px 2px #CCCCCC;
}

p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

a img {
    border: none;
}


a:link {
    color: #42413C;
    text-decoration: underline;
}

a:visited {
    color: #6E6C64;
    text-decoration: underline;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}




.container {
    width: 960px;
    background-color: #FFF;
    margin: 0 auto;
    word-break: keep-all;
}

.sidebar1 {
    float: left;
    width: 180px;
    background-color: transparent;
    padding: 10px 0;
    margin-right: 10px;
}

.content {
    padding: 10px 0;
    width: 580px;
    float: left;
    font-family: 'Times New Roman';
}

.sidebar2 {
    float: left;
    width: 170px;
    height: 100%;
    background-color: transparent;
    padding: 10px 0;
    margin-left: 10px;
}



.Button1:hover {
    border: 5px;
    border-style: solid;
    border-color: azure;
    opacity: 0.5;
}

.Button1 {
    background: rgba(255,255,255, .8);
    opacity: 0.8;
    margin-bottom: 10px;
    font-family: 'High Tower Text';
    padding: 0 0 0 40px;
    width: 100%;
    border: none;
    font-size: large;
    text-align: left;
}

.DetailButton:hover {
    border: 5px;
    border-style: solid;
    border-color: azure;
    opacity: 0.5;
}

.DetailButton {
    background-color: #FFF;
    opacity: 0.8;
    margin-bottom: 10px;
    font-family: 'High Tower Text';
    font-weight: bold;
    font-size: large;
    padding: 0 40px 0 0;
    width: 100%;
    border: none;
    text-align: right;
}

.course {
    background: rgba(255,255,255, .8);
    opacity: 0.8;
    margin-bottom: 10px;
    font-family: 'High Tower Text';
    font-size: large;
    padding: 0 20px 0 40px;
    border: none;
    text-align: left;
}

.subject {
    background: rgba(240,255,255, .8);
    margin-bottom: 10px;
    font-family: 'High Tower Text';
    padding: 0 0 0 40px;
    border: none;
    font-size: large;
    text-align: left;
}

.Announcement {
    background-color: azure;
    background: rgba(240,255,255, .5);
    margin-bottom: 10px;
    font-family: 'High Tower Text';
    padding: 0 0 0 0;
    border: none;
    font-size: large;
    text-align: left;
    word-break: keep-all;
    
}


.contact {
    padding: 0 0 0 40px;
    color: red;
    font-family: 'Berlin Sans FB';
    font-size: larger;
}

.postButton {
    background-color: ghostwhite;
    margin-bottom: 10px;
    font-family: 'High Tower Text';
    padding: 5px;
    width: 100%;
    border:none;
    font-size: large;
    text-align: center;
}

.announceButton {
    background: rgba(240,255,255, .5);
    margin-bottom: 10px;
    font-family: 'High Tower Text';
    font-weight: bold;
    font-size: large;
    padding: 0 0 0 0;
    width: 100%;
    border: none;
    font-size: large;
    text-align: center;
}

    .postButton:hover, .announceButton:hover {
        border: 5px;
        border-style: solid;
        border-color: azure;
        opacity: 0.5;
    }


.comments {
    padding: 10px 0;
    width: 100%;
    float: left;
}

.posted {
    background-color: #FFF;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    margin-bottom: 10px;
    font-family: serif;
    float: left;
}

.announceContent {
    padding: 10px 0;
    width: 100%;
    float: left;
}

.centerHeading {
    text-align: center;
    width: 100%;
}

.description {
    
    font-family:Aparajita;
    font-weight:bold;
    font-size:20px;
}

.content ul, .content ol {
    padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

ul.nav {
    list-style: none; /* this removes the list marker */
    border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
    margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}

    ul.nav li {
        border-bottom: 1px solid #666; /* this creates the button separation */
    }

    ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
        padding: 5px 5px 5px 15px;
        display: block; /* this gives the anchor block properties so it fills out the whole LI that contains it so that the entire area reacts to a mouse click. */
        width: 160px; /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
        text-decoration: none;
        background-color: #C6D580;
    }

        ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
            background-color: #ADB96E;
            color: #FFF;
        }


.footer {
    padding: 10px 0;
    background-color: #000000;
    position: relative;
    clear: both;
    color: #FFF;
}

.fltrt {
    float: right;
    margin-left: 8px;
}

.fltlft {
    float: left;
    margin-right: 8px;
}

.clearfloat {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}
-->

